*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
ul{list-style: none;}

body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'NanumSquareRound';
    min-width: 1320px;
    background-color: #f8f8f8;
}

/* header */
#header{
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 99;

}

.header_inner{
    width: 1320px;
    margin: auto;
    height: 100px;
    padding-top: 50px;
}

.nav> li{
    float: left;
}
.nav> li> a{
    display: inline-block;
    padding: 0px 50px;
    margin: 0px 14px;
    color: #437fc1;
    line-height: 68px;
    font-size: 18px;
    font-weight: bold;
}
.nav> li> a:hover{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px 30px 0 0;
    color: #5a5a5a;
}



/* 아이콘 */
.nav> li> .bg1{
    display: block;
    height: 68px;
    width: 38px;
    background: url(../images/menu_blue.png) no-repeat 50% 50%;
    margin: 0;
}

.nav> li> .bg2{
    display: block;
    height: 68px;
    width: 26px;
    background: url(../images/mypage_blue.png)no-repeat 50% 50%;
    margin: 0;
}

.nav> li> .bg1:hover{
    display: inline-block;
    background: url(../images/menu_gray.png) no-repeat 50% 50%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px 30px 0 0;
}

.nav> li> .bg2:hover{
    display: inline-block;
    background: url(../images/mypage_gray.png) no-repeat 50% 50%;
}
.nav> li:nth-child(4) a:hover{
    background-color: transparent;
}

.nav> li:nth-child(7) a:hover{
    background-color: transparent;
}


/* 전체메뉴 서브메뉴 */
.menu_inner{
    width: 100%;
    position: absolute; 
    display: none;
    left: 0; 
    top: 118px;
    background-color: rgba(255, 255, 255, 1);
}

.sub1{
    width: 1320px;
    margin: auto;
    height: 400px;
    padding: 30px 0 30px 0px;
    box-sizing: border-box;
}

.sub1> li{
    float: left;
    margin: 0 100px 20px 0;
}

.sub1> .margin_right{
    margin-right: 40px;    
}

.sub1> li> a{
    font-weight: bold;
    font-size: 18px;
    
}

.sub1> li> a:hover{
    display: inline-block;
    color: #5a5a5a;
    font-weight: bold;
}

.padding2{
    padding-left: 160px;
    height: 80px;
}

.padding3{
    padding-left: 360px;
    height: 80px;
}

.padding4{
    padding-left: 390px;
    height: 80px;
}

.padding5{
    padding-left: 960px;
    height: 80px;
}


.sub2 li{
    margin: 20px 0 20px 20px
}
.sub2 li a{
    display: inline-block;
    font-size: 16px;
}

.sub2 li a:hover{
    display: inline-block;
    color: #5a5a5a;
    font-weight: bold;
}

.font li a{
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
}

/* awt */

#about_whale_tour{
    width: 100%;
    background: url(../images/awt_bg.png) no-repeat center top;
    height: 700px;
   
}

.about_whale_tour_inner{
    width: 1320px;
    height: 700px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    padding-top: 50px;
}

.about_whale_tour_inner p{
    position: absolute;
    text-align: right;
    bottom: 50px; right: 30px;
    color: white;
    font-size: 16px;
    line-height: 26px;
}

.about_whale_tour_inner p span{
    font-weight: bold;
}

/* cv */
#core_value{
    width: 1320px;
    height: 700px;
    margin: auto;
    padding: 50px;
    position: relative;
}
/* 인재중심 */
.employee{
    background: url(../images/cv_employee.png) no-repeat left top;
    position: relative;
    height: 280px;
    width: 702px;
    margin-top: 50px;
    margin-left: 30px;
}

.employee img{
    position: absolute;
    top: 35px; left: 230px;
}

.employee p:nth-child(2),
.employee p:nth-child(3){
    font-size: 40px;
    font-weight: bold;
    position: absolute;
}

.employee p:nth-child(2){
    top: 130px; left: 170px;
}

.employee p:nth-child(3){
    top: 130px; right: 180px;
}

.p_hover1{
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    top: 160px; left: 90px;
    display: none;
}

.p_hover1 span{
    font-weight: bold;
}


/* 인재중심_호버 */
.employee:hover img{
    animation: ani 0.5s linear forwards;
}

.employee:hover p:nth-child(2){
    animation: text1 0.5s linear forwards;
}

.employee:hover p:nth-child(3){
    animation: text2 0.5s linear forwards;
}

@keyframes ani{
    0% {transform: translateX(0);}
    100% {transform: translateX(170px);}
}

@keyframes text1{
    0% {transform: translateX(0);}
    100% {transform: translateX(-80px) translateY(-30px);}
}

@keyframes text2{
    0% {transform: translateX(0);}
    100% {transform: translateX(-265px) translateY(-31px);}
}

/* 고객우선 */
.customer{
    background: url(../images/cv_customer.png) no-repeat left top;
    position: relative;
    height: 280px;
    width: 702px;
    margin-top: 30px;
    margin-left: 30px;
}

.customer img{
    position: absolute;
    top: 57px; left: 240px;
}

.customer p:nth-child(2), .customer p:nth-child(3){
    font-size: 40px;
    font-weight: bold;
    position: absolute;
}

.customer p:nth-child(2){
    top: 130px; left: 170px;
}

.customer p:nth-child(3){
    top: 130px; right: 180px;
}

.p_hover2{
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    top: 130px; left: 90px;
    display: none;
}

.p_hover2 span{
    font-weight: bold;
}


/* 고객우선_호버 */
.customer:hover img{
    animation: ani2 0.5s linear forwards;
}

.customer:hover p:nth-child(2){
    animation: text3 0.5s linear forwards;
}

.customer:hover p:nth-child(3){
    animation: text4 0.5s linear forwards;
}


@keyframes ani2{
    0% {transform: translateX(0);}
    100% {transform: translateX(180px);}
}

@keyframes text3{
    0% {transform: translateX(0);}
    100% {transform: translateX(-80px) translateY(-60px);}
}

@keyframes text4{
    0% {transform: translateX(0);}
    100% {transform: translateX(-265px) translateY(-61px);}
}

/* 신뢰 */
.trust{
    background: url(../images/cv_trust.png) no-repeat left top;
    position: absolute;
    right: 30px; top: 100px;
    height: 590px;
    width: 568px;
    margin-top: 50px;
    transform: all 0.5;
}

.trust img{
    position: absolute;
    top: 140px; left: 180px;
}

.trust p:nth-child(2){
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 400px; left: 185px;
}

.p_hover3{
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    top: 420px; left: 115px;
    display: none;
    text-align: center;
}

.p_hover3 span{
    font-weight: bold;
}



/* 고객우선_호버*/
.trust:hover img{
    animation: ani3 0.5s linear forwards;
}

.trust:hover p:nth-child(2){
    animation: text5 0.5s linear forwards;
}

@keyframes ani3{
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);}
}

@keyframes text5{
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);}
}

/* bi */
#bi{
    width: 1320px;
    margin: 40px auto;
    height: 1700px;
    font-size: 18px;
    line-height: 28px;
}
.logo{
    margin: 40px 50px;
    position: relative;
}

.logo h2{
    font-size: 35px;
}


.logo_p{
    padding: 20px 0 0 70px;
}

.color_blue{
    color: #4160ac;
}

.color_orange{
    color: #fb904b;
}

.logo_p2{
    color: #4160ac;
    margin: 50px 0 0 70px;
}

.big{
    font-size: 22px;
}

/* 로고컬러 */
.color{
    margin: 100px auto;
    position: relative;
}

.color h2{
    margin-bottom: 50px;
}

.sky{
    display: inline-block;
    position: absolute;
    top:50px; left: 50%;
    margin-left: -380px;
}

.whale{
    display: inline-block;
    position: absolute;
    top:50px; right: 50%;
    margin-right: -290px;
}

.wave{
    display: inline-block;
    position: absolute;
    top:350px; left: 50%;
    margin-left: -380px;
}

.sun{
    display: inline-block;
    position: absolute;
    top:350px; right: 50%;
    margin-right: -315px;
}

.text{
    position: absolute;
    top: 30px;
    left: 20px;
    opacity: 0;
    width: 250px;
    transition: all 1s;
    z-index: -1;
}
.color a:hover .text{
    opacity: 1;
    left: 230px;
}

.logo_color1{
    color: #b1e3fa;
    font-weight: bold;
    font-size: 20px;
}

.logo_color2{
    color: #4060ac;
    font-weight: bold;
    font-size: 20px;
}

.logo_color3{
    color: #437fc1;
    font-weight: bold;
    font-size: 20px;
}


.logo_color4{
    color: #fb904b;
    font-weight: bold;
    font-size: 20px;
}

/* map */
#map{
    width: 1320px;
    margin: 150px auto;
    height: 850px;
}

.map_title{
    margin-bottom: 50px;
}

.map{
    display: inline-block;
    width: 1313px;
    margin-bottom: 50px;
}

.subway{
    width: 373.86px;
}

.bus{
    width: 527px;
}

.car{
    width: 416.47px;
}

.link_map li, .subway_inner li, .bus_inner li, .car_inner li{
    float: left;
}

.link_map img{
    margin-right: 20px;
}

.link_map span{
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    margin: 30px 0 20px 0;
}

.link_map p{
    font-size: 18px;
    line-height: 28px;
    margin-left: 10px;
}

.bus_inner{
    margin: 0 55px;
}

/* footer */
#footer_line{
    border-top: 1px solid #ccc;
}

#footer{
    width: 1320px;
    text-align: center;
    margin: auto;
    padding: 50px 0;
    color: #5f8ec0;
}

.link_footer{
    margin: 30px 0 20px 480px;
}

.link_footer li{
    float: left;
    margin-right: 20px;
}

.link_footer li:nth-child(3) a{
    font-weight: bold;
}

.link_footer li:nth-child(4){
    margin-right: 0;
}

.link_footer li a{
    display: inline-block;
    color: #5f8ec0;
}

#footer p{
    clear: both;
    padding-top: 20px;
    line-height: 28px;
}

.sns{
    margin: 30px 0 80px 560px;
}

.sns li{
    float: left;
    margin-right: 20px;
    opacity: 0.5;
}

.sns li:nth-child(4){
    margin-right: 0;
}

.sns li:hover{
    opacity: 1;
}


/* fixed */
.top{
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
    z-index: 99;
  }

.call{
    position:fixed; 
    bottom:125px; 
    right:50px; 
    display:none;
    z-index: 99;
  }
