*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
ul{list-style: none;}

body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'NanumSquareRound';

}

/* header */
#header{
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 99;
}

.header_inner{
    width: 1320px;
    margin: auto;
    height: 100px;
    padding-top: 50px;
}

.nav> li{
    float: left;
}
.nav> li> a{
    display: inline-block;
    padding: 0px 50px;
    margin: 0px 14px;
    color: #437fc1;
    line-height: 68px;
    font-size: 18px;
    font-weight: bold;
}
.nav> li> a:hover{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px 30px 0 0;
    color: #5a5a5a;
}



/* 아이콘 */
.nav> li> .bg1{
    display: block;
    height: 68px;
    width: 38px;
    background: url(../images/menu_blue.png) no-repeat 50% 50%;
    margin: 0;
}

.nav> li> .bg2{
    display: block;
    height: 68px;
    width: 26px;
    background: url(../images/mypage_blue.png)no-repeat 50% 50%;
    margin: 0;
}

.nav> li> .bg1:hover{
    display: inline-block;
    background: url(../images/menu_gray.png) no-repeat 50% 50%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px 30px 0 0;
}

.nav> li> .bg2:hover{
    display: inline-block;
    background: url(../images/mypage_gray.png) no-repeat 50% 50%;
}
.nav> li:nth-child(4) a:hover{
    background-color: rgba(255, 255, 255, 1);
}

.nav> li:nth-child(7) a:hover{
    background-color: rgba(255, 255, 255, 1);
}


/* 전체메뉴 서브메뉴 */
.menu_inner{
    width: 100%;
    position: absolute; 
    display: none;
    left: 0; 
    top: 118px;
    background-color: rgba(255, 255, 255, 1);
}

.sub1{
    width: 1320px;
    margin: auto;
    height: 400px;
    padding: 30px 0 30px 0px;
    box-sizing: border-box;
}

.sub1> li{
    float: left;
    margin: 0 100px 20px 0;
}

.sub1> .margin_right{
    margin-right: 40px;    
}

.sub1> li> a{
    font-weight: bold;
    font-size: 18px;
    
}

.sub1> li> a:hover{
    display: inline-block;
    color: #5a5a5a;
    font-weight: bold;
}

.padding2{
    padding-left: 160px;
    height: 80px;
}

.padding3{
    padding-left: 360px;
    height: 80px;
}

.padding4{
    padding-left: 390px;
    height: 80px;
}

.padding5{
    padding-left: 960px;
    height: 80px;
}


.sub2 li{
    margin: 20px 0 20px 20px
}
.sub2 li a{
    display: inline-block;
    font-size: 16px;
}

.sub2 li a:hover{
    display: inline-block;
    color: #5a5a5a;
    font-weight: bold;
}

.font li a{
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
}


#sub1_banner{
    position: relative;
}

.swiper-container{
    width: 100%;
    margin-top: 0;
}

/* 검색창 */
#search_sub1{
    position: absolute;
    bottom: 30px; left: 50%;
    transform: translateX(-595px);
    width: 620px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    height: 130px;
    z-index: 80;
    border-radius: 20px;
    box-sizing: border-box;
}

.date_search_sub1 li{
    float: left;
    margin-right: 20px;
}

.check_search_sub1 li{
    float: left;
    margin-right: 40px;
    margin-top: 15px;
}

.input input{
    display: inline-block;
    padding: 15px 0 15px 15px;
    background-color: rgba(255,255,255,1);
    border: none;
    border-radius: 5px;
}

/* 출발지 */
.date_search_sub1 li:nth-child(2){
    background: url(../images/location_black.png) no-repeat left 11px;
    padding: 10px 10px 10px 30px;
    border: none;
}

.date_search_sub1 li:nth-child(2) a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

/* 출발일 */
.date_search_sub1 li:nth-child(3){
    background: url(../images/date_black.png) no-repeat left 11px;
    padding: 10px 10px 10px 35px;
    border: none;
}

.date_search_sub1 li:nth-child(3) a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

/* 검색 */
.date_search_sub1 li:nth-child(4){
    margin-right: 0;
}

.button a{
    display: inline-block;
    padding: 10px;
    background-color: #5f8ec0;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

/* 체크 */
.check_search_sub1{
    position: absolute;
    top: 67px; left: 25px;
}

.check_search_sub1 a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 35px;
    color: #5a5a5a;
}

.check_search_sub1 li:nth-child(1){
    background: url(../images/check_gray.png) no-repeat left 2px;
}

.check_search_sub1 li:nth-child(2){
    background: url(../images/check_gray.png) no-repeat left 2px;
}

.check_search_sub1 li .check_on{
    background: url(../images/check.png) no-repeat left 2px;
    display: inline-block;
    color: black;
}

/* 추천여행지 */
#content1{
    width: 1320px; height: 300px;
    margin: 80px auto;
}

#content1 h1{
    text-align: center;
    margin-bottom: 50px;
}

.content1_inner li{
    float: left;
    margin-left: 85px;
    
}

.content1_inner li a{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    color: white;
    
    width: 222px; height: 222px;
}

/* 추천_스위스 */
.switzerland{
    background: url(../images/recommended_switzerland.png) no-repeat top left;
    transition: all 0.5s;
}

.switzerland_hover{
    background: url(../images/recommended_switzerland_hover.png) no-repeat left top;
}



/* 추천_보라카이 */
.boracay{
    background: url(../images/recommended_boracay.png) no-repeat top left;
    transition: all 0.5s;
}

.boracay_hover{
    background: url(../images/recommended_boracay_hover.png) no-repeat left top;
}


/* 추천_london */
.london{
    background: url(../images/recommended_london.png) no-repeat top left;
    transition: all 0.5s;

}

.london_hover{
    background: url(../images/recommended_london_hover.png) no-repeat left top;
}

/* 추천_오사카 */
.osaka{
    background: url(../images/recommended_osaka.png) no-repeat top left;
    transition: all 0.5s;
}

.osaka_hover{
    background: url(../images/recommended_osaka_hover.png) no-repeat left top;
}


/* 자가격리 */
#ni{
    width: 1320px;
    margin: 50px auto;
    height: 550px;
}

#ni h1{
    margin-bottom: 60px;
    text-align: center;
}

.link_ni li{
    float: left;
    width: 384px; height: 332px;
    margin-right: 20px;
}

.link_ni li a{
    display: inline-block;
    width: 384px; height: 332px;
}

.hawaii {
    margin-left: 50px;
}

.hawaii a{ 
    background: url(../images/NI_hawaii_2.png) no-repeat top left;
    transition: all 0.5s;
}

.hawaii a:hover{
    background: url(../images/NI_hawaii_hover.png) no-repeat top left;
}


.praha a{
    background: url(../images/NI_praha.png) no-repeat top left;
    transition: all 0.5s;
}

.praha a:hover{
    background: url(../images/NI_praha_hover.png) no-repeat top left;
}

.phuket a{
    background: url(../images/NI_phuket.png) no-repeat top left;
    transition: all 0.5s;
    margin-right: 0;
}

.phuket a:hover{
    background: url(../images/NI_phuket_hover.png) no-repeat top left;
}

/* 베스트 투어 */
#best{
    width: 100%;
    padding: 100px 0;
    background: url(../images/bg2.png) no-repeat top center fixed;
    height: 1500px;
}

.best_inner{
    width: 1150px;
    margin: auto;
    position: relative;
}


.best_inner h1{
    position: absolute;
    margin-top: -170px; right: 0;
    text-align: right;
}

.palawan{
    position: absolute;
    margin-top: -170px; left: 0;
    width: 500; height: 685px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.bali{
    position: absolute;
    top: 150px; right: 0;    
    width: 500; height: 685px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.spain{
    position: absolute;
    top: 680px; left: 0;   
    width: 500; height: 686px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.hanoi{
    position: absolute;
    top: 1000px; right: 0;
    width: 500; height: 686px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* 아이콘 */

.best_inner div img:nth-child(2){
    display: inline-block;
    position: absolute;
    top: 621px; right: 90px;
    cursor: pointer;

}

.best_inner div img:nth-child(3){
    display: inline-block;
    position: absolute;
    top: 622px; right: 30px;
    cursor: pointer;

}

.cart1{
    background: url(../images/besttours_cart_click.png)no-repeat top left;
    cursor: pointer;

}

.heart{
    background: url(../images/besttours_heart_click.png) no-repeat top left;
    cursor: pointer;

}



/* 혜택 */
#benefits{
    width: 1320px;
    margin: 100px auto;
    background: url(../images/benefit_bg.png) no-repeat left 300px;
    position: relative;
    height: 600px;
    padding-top: 100px;
}

#benefits h1{
    text-align: center;
}



.benefits_inner a{
    display: inline-block;
    text-align: center;
}

span{
    color: #fb904b;
    font-weight: bold;
}


/* 케어 */
.care_icon{
    position: absolute;
    top: 180px; left: 100px;
}

.care .cloud1{
    position: absolute;
    top: 210px; left: 15px;
}

.care .cloud2{
    position: absolute;
    top: 340px; left: 200px;
}

.care .cloud3{
    position: absolute;
    top: 350px; left: 70px;
}

.care h3{
    font-size: 22px;
    margin: 40px 0 40px 0;
}

.care_inner{
    position: absolute;
    top: 440px; left: 85px;
}


/* 카드 */
.card_icon{
    position: absolute;
    top: 210px; left: 500px;
}

.card .cloud4{
    position: absolute;
    top: 210px; left: 410px;
}

.card .cloud5{
    position: absolute;
    top: 340px; left: 610px;
}

.card .cloud6{
    position: absolute;
    top: 360px; left: 480px;
}

.card h3{
    font-size: 22px;
    margin: 40px 0 40px 0;
}

.card_inner{
    position: absolute;
    top: 440px; left: 530px;
}

/* 면세점 */
.cart_icon{
    position: absolute;
    top: 200px; left: 960px;
}

.cart .cloud7{
    position: absolute;
    top: 220px; left: 850px;
}

.cart .cloud8{
    position: absolute;
    top: 340px; left: 1080px;
}

.cart .cloud9{
    position: absolute;
    top: 380px; left: 930px;
}

.cart h3{
    font-size: 22px;
    margin: 40px 0 40px 0;
}

.cart_inner{
    position: absolute;
    top: 440px; left: 935px;
}




.cloud_hover, .cloud_hover2, .cloud_hover3{
    display: none;
}

/* 케어 */
.care a:hover .cloud_hover{
    display: block;
    animation: ani 0.8s infinite linear alternate;
}

.care a:hover .cloud_hover2{
    display: block;
    animation: ani 0.8s infinite linear alternate-reverse;
}

.care a:hover .cloud_hover3{
    display: block;
    animation: ani 0.9s infinite linear alternate-reverse;
}

/* 카드 */
.card a:hover .cloud_hover{
    display: block;
    animation: ani 0.8s infinite linear alternate;
}

.card a:hover .cloud_hover2{
    display: block;
    animation: ani 0.8s infinite linear alternate-reverse;
}

.card a:hover .cloud_hover3{
    display: block;
    animation: ani 0.9s infinite linear alternate-reverse;
}

/* 카트 */
.cart a:hover .cloud_hover{
    display: block;
    animation: ani 0.8s infinite linear alternate;
}

.cart a:hover .cloud_hover2{
    display: block;
    animation: ani 0.8s infinite linear alternate-reverse;
}

.cart a:hover .cloud_hover3{
    display: block;
    animation: ani 0.9s infinite linear alternate-reverse;
}

@keyframes ani{
    0% {transform: translateY(0);}
    100% {transform: translateY(-10px);}
}

/* 리뷰 */

.simply-scroll{
    width: 100%;
    height: auto;
    margin: auto;
}
.simply-scroll .simply-scroll-clip{
    width: 100%;
    height: 100%;
}
.simply-scroll .simply-scroll-list li{
    width: auto;
    height: auto;
    
}

.review{
    margin-bottom: 100px;
}

.review h1{
    margin: 150px 0 100px 0;
    text-align: center;
}
#scroller li{
    width: 250px;
    height: 248px;
    overflow: hidden;
}

#scroller li a img{
    transition: all 0.5s;
    opacity: 0.7;
}

#scroller li a:hover img{
    overflow: hidden;
    transform: scale(1.1,1.1);
    display: inline-block;
    opacity: 1;
}

/* footer */
#footer_line{
    border-top: 1px solid #ccc;
}

#footer{
    width: 1320px;
    text-align: center;
    margin: auto;
    padding: 50px 0;
    color: #5f8ec0;
}

.link_footer{
    margin: 30px 0 20px 480px;
}

.link_footer li{
    float: left;
    margin-right: 20px;
}

.link_footer li:nth-child(3) a{
    font-weight: bold;
}

.link_footer li:nth-child(4){
    margin-right: 0;
}

.link_footer li a{
    display: inline-block;
    color: #5f8ec0;
}

#footer p{
    clear: both;
    padding-top: 20px;
    line-height: 28px;
}

.sns{
    margin: 30px 0 80px 560px;
}

.sns li{
    float: left;
    margin-right: 20px;
    opacity: 0.5;
}

.sns li:nth-child(4){
    margin-right: 0;
}

.sns li:hover{
    opacity: 1;
}


/* fixed */
.top{
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
    z-index: 99;
  }

.call{
    position:fixed; 
    bottom:125px; 
    right:50px; 
    display:none;
    z-index: 99;
  }