*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
ul{list-style: none;}

body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'NanumSquareRound';
}

/* header */
#header{
    width: 100%;
    background: url(../images/bg.jpg) no-repeat 0 0;
    height: 900px;
    position: relative;}

.header_inner{
    width: 1320px;
    margin: auto;
    height: 100px;
    padding-top: 50px;
}

.nav> li{
    float: left;
}
.nav> li> a{
    display: inline-block;
    padding: 0px 50px;
    margin: 0px 14px;
    color: white;
    line-height: 68px;
    font-size: 18px;
    font-weight: bold;
}
.nav> li> a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 30px 0 0;
    color: #5a5a5a;
}



/* 아이콘 */
.nav> li> .bg1{
    display: block;
    height: 68px;
    width: 38px;
    background: url(../images/menu_white.png) no-repeat 50% 50%;
    margin: 0;
}

.nav> li> .bg2{
    display: block;
    height: 68px;
    width: 26px;
    background: url(../images/mypage_white.png)no-repeat 50% 50%;
    margin: 0;
}

.nav> li> .bg1:hover{
    display: inline-block;
    background: url(../images/menu_gray.png) no-repeat 50% 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 30px 0 0;
}

.nav> li> .bg2:hover{
    display: inline-block;
    background: url(../images/mypage_gray.png) no-repeat 50% 50%;
}
.nav> li:nth-child(4) a:hover{
    background-color: rgba(255, 255, 255, 0);
}

.nav> li:nth-child(7) a:hover{
    background-color: rgba(255, 255, 255, 0);
}


/* 전체메뉴 서브메뉴 */
.menu_inner{
    width: 100%;
    position: absolute; 
    display: none;
    left: 0; 
    top: 118px;
    background-color: rgba(255, 255, 255, 0.7);
}

.sub1{
    width: 1320px;
    margin: auto;
    height: 400px;
    padding: 30px 0 30px 0px;
    box-sizing: border-box;
}

.sub1> li{
    float: left;
    margin: 0 100px 20px 0;
}

.sub2_2 li:nth-child(8){
    margin-bottom: 17px;
}

.sub1> .margin_right{
    margin-right: 40px;    
}

.sub1> li> a{
    font-weight: bold;
    font-size: 18px;
    
}

.sub1> li> a:hover{
    display: inline-block;
    color: #5a5a5a;
    font-weight: bold;
}

.padding2{
    padding-left: 160px;
    height: 80px;
}

.padding3{
    padding-left: 360px;
    height: 80px;
}

.padding4{
    padding-left: 390px;
    height: 80px;
}

.padding5{
    padding-left: 960px;
    height: 80px;
}


.sub2 li{
    margin: 20px 0 20px 20px
}
.sub2 li a{
    display: inline-block;
    font-size: 16px;
}

.sub2 li a:hover{
    display: inline-block;
    color: #5a5a5a;
    font-weight: bold;
}

.font li a{
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
}

/* 검색창 */
#search{
    width: 650px;
    margin: 420px auto;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 0 20px 40px;
    box-sizing: border-box;
    border-radius: 30px;
}

.tabnav{
    margin-left: 25px;
}

/* 위 아이콘 */
.tabnav li{
    float: left;
    margin-bottom: 20px;
}

.tabnav li:nth-child(1){
    margin-left: 0;
}

/* 출발지~ */
.search_bottom li{
    float: left;
    margin: 20px 36px 0 0;
}

/* 3가지 */
.tabnav li a, .search_bottom li a, .check li a, .search_bottom3 li a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 45px;
}

/* 위 , 체크 글자색*/
.tabnav li a, .check li a{
    color: #5a5a5a;
}

/* 아래, 체크 패딩, 마진 */
.search_bottom li a{
    padding-left: 40px;
    margin-right: 20px;
}


/* 체크 */
.check li{
    float: left;
    margin-top: 20px;
    margin-right: 40px;
}

.check li a{
    padding-left: 33px;
}

.tab_margin{
    margin-left: 15px;
}


/* 버튼 */
#search p{
    clear: both;
}

.input input{
    display: inline-block;
    padding: 15px 0 15px 20px;
    background-color: rgba(255,255,255,1);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button a{
    margin: 20px 0 0 220px;
    display: inline-block;
    padding: 10px;
    background-color: #5f8ec0;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

/* 아이콘 */

.tabnav li:nth-child(1) a{
    background: url(../images/suitcase_gray.png) no-repeat 5px 12px;
    padding-top: 10px;
    padding-right: 5px;
}

.tabnav li:nth-child(2) a{
    background: url(../images/plane_gray.png) no-repeat 5px 12px;
    margin: 0 120px;
    padding-top: 10px;
    padding-right: 5px;
}

.tabnav li:nth-child(3) a{
    background: url(../images/hotel_gray.png) no-repeat 5px 12px;
    padding-top: 10px;
    padding-right: 5px;
}

.search_bottom li:nth-child(1), .search_bottom3 li:nth-child(1){
    background: url(../images/location_black.png) no-repeat left 2px ;
}

.search_bottom li:nth-child(2), .search_bottom3 li:nth-child(2){
    background: url(../images/date_black.png) no-repeat left 2px;
}

.check li:nth-child(1){
    background: url(../images/check_gray.png) no-repeat left 2px;
}

.check li:nth-child(2){
    background: url(../images/check_gray.png) no-repeat left 2px;
    margin-right: 0;
}

.rt_location li:nth-child(1){
    background: url(../images/plane_leave.png) no-repeat left 12px;
    margin-left: 70px;
}

.rt_location li:nth-child(2){
    background: url(../images/arrows.png) no-repeat left 7px;
    margin: 0 20px;
}

.rt_location li:nth-child(3){
    background: url(../images/plane_arrive.png) no-repeat left 12px;
    margin-right: 20px;
}

.rt_date li:nth-child(1), .ow_date li:nth-child(1){
    background: url(../images/date_black.png) no-repeat left 12px;
}

.rt_date li:nth-child(2){
    background: url(../images/date_black.png) no-repeat left 12px;
}

.rt_date li:nth-child(3), .ow_date li:nth-child(2){
    background: url(../images/person.png) no-repeat left 12px;
}

.search_bottom3 li:nth-child(3){
    background: url(../images/person.png) no-repeat left 2px;
}


/* on */
.check li .check_on{
    background: url(../images/check.png) no-repeat left 2px;
    color: black;
}

/* 왕복 */
.rt_location{
    width: 567px;
    margin-top: 15px;
  }
  
  .rt_location li, .rt_date li{
    float: left;
    padding: 10px 10px 10px 40px;
  }

  .rt_location li a, .rt_date li a, .ow_date li a{
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

  
  .button2{
    display: inline-block;
    padding: 10px;
    background-color: #5f8ec0;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .rt_date{
    clear: both;
  }

  .rt_date li{
      margin-left: 53px;
      margin-top: 5px;
  }
/* 편도 */
  .ow_date li{
    float: left;
    padding: 10px 10px 10px 40px;
    margin-left: 110px;
    margin-top: 5px;
  }

  #oneway> .rt_location{
    margin-top: 25px;
  }

/* 숙소 */
  .search_bottom3 li{
    float: left;
    margin: 20px 0 0 70px;
  }

/* continent */
#continent{
    margin: 50px auto;
    width: 1320px;
    height: 810px;
    padding-bottom: 50px;
}

#continent h1{
    text-align: center;
    margin-bottom: 80px;
}

.continent_inner li{
    float: left;
    position: relative;
}

.continent_inner li:nth-child(3){
    margin-left: -120px;
}

.continent_inner li:nth-child(2), .continent_inner li:nth-child(4){
    margin-top: 350px;
    margin-left: -135px;
}

.text{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s;
}

.continent_inner div{
    position: absolute;
    top: 63px; left: 63px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px; height: 300px;
    text-align: center;
    color: white;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
}

.continent_inner li:nth-child(1) div{
    left: 58px; top: 62px;
}

.continent_inner li:nth-child(3) div{
    left: 66px;
}

.continent_inner li:nth-child(4) div{
    left: 64px; top: 64px;
}

.continent_inner div p{
    margin: 100px 0 20px 0;
}

.continent_inner div a{
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 7px 20px;
}

.continent_inner li:hover div{
    opacity: 1;
}
.continent_inner li:hover .text{
    transform: translate(-50%, -50%) rotate(360deg);
}


/* best tours */
#best_tours{
    width: 100%;
    background: url(../images/besttours_bg.png) no-repeat center top fixed;
    height: 900px;
}

.slide2 h1{
    text-align: center;
    margin-bottom: 100px;
}

.click2{
    position: relative;
}

.click2 img:nth-child(2){
    display: inline-block;
    position: absolute;
    top: 440px; right: 90px;
    width: 29px; height: 29px;
    cursor: pointer;

}

.click2 img:nth-child(3){
    display: inline-block;
    position: absolute;
    top: 440px; right: 40px;
    width: 30px; height: 29px;
    cursor: pointer;

}

.cart{
    background: url(../images/besttours_cart_click.png)no-repeat top left;
    cursor: pointer;
}

.heart{
    background: url(../images/besttours_heart_click.png) no-repeat top left;
    cursor: pointer;
}

.swiper-wrapper div{
    border-radius: 20px;
}

/* 국내 */
#korea_bg{
    background-color: aliceblue;
}

#korea{
    width: 1320px;
    margin:auto;
    background: url(../images/korea_bg.png) no-repeat left 140px;
    height: 620px;
    position: relative;
    padding-top: 50px;
}

#korea h1{
    padding-left: 570px;
}

/* 부산 */
.busan a{
    position: absolute;
    top: 344px; left: 159px;
}

.busan a p{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 220px; left: 100px;
}


/* 부산_어묵 */
.img1{
    position: absolute;
    top: 520px; left: 100px;
}

.img2{
    position: absolute;
    top: 510px; left:  170px;
}

/* 부산_떡볶이 */
.img3{
    position: absolute;
    top: 400px; left: 370px;
}

/* 부산_움직이기 */
    .img_busan{
        transition: all 0.5s;
    }

    .busan a:hover .img_busan{
        transform: scale(1.1,1.1);
    }
    .busan:hover .img1{
        animation: ani 1.2s infinite linear alternate;
    }
    .busan:hover .img2{
        animation: ani 1.2s infinite linear alternate-reverse;
    }

    .busan:hover .img3{
        animation: ani 1.4s infinite linear alternate;
    }
    
    @keyframes ani{
        0% {transform: translateY(0);}
        100% {transform: translateY(-15px);}
    }

/* 전주 */
.jeonju a{
    position: absolute;
    top: 114px; left: 530px;
}

.jeonju a p{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 140px; left: 35px;
}

.img4{
    position: absolute;
    top: 180px; left: 370px;
}

.img5{
    position: absolute;
    top: 110px; left: 450px;
}

.img6{
    position: absolute;
    top: 177px; left: 670px;
}

.img7{
    position: absolute;
    top: 180px; left: 740px;
}

/* 전주_움직이기 */
    .img_jeonju{
        transition: all 0.5s;
    }

    .jeonju a:hover .img_jeonju{
        transform: scale(1.3,1.3);
    }

    .jeonju:hover .img4{
        animation: ani2 1.4s infinite linear alternate;
    }
    .jeonju:hover .img5{
        animation: ani2 1.2s infinite linear alternate-reverse;
    }
    .jeonju:hover .img6{
        animation: ani2 1.2s infinite linear alternate;
    }
    .jeonju:hover .img7{
        animation: ani2 1.5s infinite linear alternate;
    }
    
    
    @keyframes ani2{
        0% {transform: translateY(0);}
        100% {transform: translateY(-15px);}
    }

 

/* 제주 */
.jeju a{
    position: absolute;
    top: 430px; right: 270px;
}

.jeju a p{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 165px; right: 45px;
}

.img8{
    position: absolute;
    top: 440px; right: 320px; 
}

.img9{
    position: absolute;
    top: 510px; right: 370px;
}

.img10{
    position: absolute;
    top: 520px; right: 210px;
}

/* 제주 */
.img_jeju{
    transition: all 0.5s;
}

.jeju a:hover .img_jeju{
    transform: scale(1.1,1.1);
}

.jeju:hover .img8{
    animation: ani3 1.4s infinite linear alternate;
}
.jeju:hover .img9{
    animation: ani3 1.2s infinite linear alternate-reverse;
}
.jeju:hover .img10{
    animation: ani3 1.2s infinite linear alternate;
}


@keyframes ani3{
    0% {transform: translateY(0);}
    100% {transform: translateY(-15px);}
}


/* 웨일와칭투어 */
#whale_watching{
    width: 1320px;
    margin:  50px auto;
    height: 350px;
    position: relative;
}

#whale_watching h1{
    text-align: center;
    margin-bottom: 50px;
}

.ww_left{
    height: 300px; width: 537px;
    background: url(../images/whale_watching1.png) no-repeat left 40px;
    float: left;
    margin-left: 100px;
}

.ww_right{
    height: 300px; width: 537px;
    background: url(../images/whale_watching2.png) no-repeat right 40px;
    float: right;
    margin-right: 100px;
}

#whale_watching h3{
    font-size: 18px;
}

.ww_right h3{
    text-align: right;
    margin-bottom: 20px;
}

#whale_watching a{
    display: inline-block;
    padding: 7px 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

#whale_watching a:hover{
    border: 2px solid #5f8ec0;
    background-color: #5f8ec0;
}

.ww_left a{
    position: absolute;
    bottom: 50px; left: 375px;
}

.ww_right a{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

/* 수화 */
#sl{
    width: 100%;
    height: 600px;
    background: url(../images/sl_shadow.png) no-repeat center 408px;
    overflow: hidden;
}

.sl_inner{
    width: 1320px;
    margin: auto;
    position: relative;
}

.yuri{
    background: url(../images/sl_yuri.png) no-repeat top left;
    position: absolute;
    top: 98px; left: 0;
    width: 460px;
    height: 313px;
}

.yuri_p{
    position: absolute;
    top: 65px; left: 305px;
    font-weight: bold;
}

.natasha{
    background: url(../images/sl_natasha.png) no-repeat top right;
    position: absolute;
    top: 160px; right: 0;
    width: 470px; height: 422px;
}

.natasha_p{
    position: absolute;
    top: 350px; right: 310px;
    font-weight: bold;
}

.sl_inner h1, .sl_p{
    text-align: center;
}

.sl_inner h1{
    padding: 230px 0 20px 0;
}

.sl_inner a{
    display: inline-block;
    padding: 7px 20px;
    border: 2px solid #5f8ec0;
    border-radius: 20px;
    color: #5f8ec0;
    font-weight: bold;
    transition: all 0.5s;
    position: absolute;
    left: 50%; margin-left: -59.5px;
    top: 340px;
}

.sl_inner a:hover{
    border: #5f8ec0 2px solid;
    background-color: #5f8ec0;
    color: white;
}


/* footer */
#footer{
    width: 1320px;
    text-align: center;
    margin: auto;
    padding: 50px 0;
    color: #5f8ec0;
}

.link_footer{
    margin: 30px 0 20px 480px;
}

.link_footer li{
    float: left;
    margin-right: 20px;
}

.link_footer li:nth-child(3) a{
    font-weight: bold;
}

.link_footer li:nth-child(4){
    margin-right: 0;
}

.link_footer li a{
    display: inline-block;
    color: #5f8ec0;
}

#footer p{
    clear: both;
    padding-top: 20px;
    line-height: 28px;
}

.sns{
    margin: 30px 0 80px 560px;
}

.sns li{
    float: left;
    margin-right: 20px;
    opacity: 0.5;
}

.sns li:nth-child(4){
    margin-right: 0;
}

.sns li:hover{
    opacity: 1;
}


/* fixed */
.top{
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
    z-index: 99;
  }

.call{
    position:fixed; 
    bottom:125px; 
    right:50px; 
    display:none;
    z-index: 99;
  }